.default {
    margin: 5px 0 5px 0;
    background-color: lightsteelblue;
    font-weight: bold;
    width: fit-content;
}

.red {
    background: darkred;
    font-weight: bold;
    width: 70px;
}

.clicked {
    background-color: #24282d;
    color: lightsteelblue;
    border: 2px solid lightsteelblue;
}